/*end of setting up the screen layout
log in page*/

#loginSection{
	position:fixed;
	text-align: middle;
	overflow: auto;
	padding: 1% 0 1% 0;
	box-shadow:
		0 0 1px 1px #ffffff,
		0 0 2px 2px #ffffff,
		0 0 3px 3px #ffffff;
}